@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');
body {
    background-image: url(fmn-hgak.github.io/images/78DFB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fmn {
    display: inline-block;
    margin-top: -26px;
    margin-left: 5em;
    font-size: 42px;
    font-family: 'Mountains of Christmas', cursive;
    color: #5593e0;
    text-align: center;
}
  .hg {
      display: inline-block;
      font-size: 37px;
      margin-left: 3em;
      margin-top: -26px;
      font-family: 'Mountains of Christmas', cursive;
      color: #5593e0;
      text-align: center;
  }
  .logo1 {
      display: block;
      margin: auto;
      margin-top: -25px;
      background-image: url("images/forgetme.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 74px;
      margin-bottom: -44px;
  }
.headLogo {
        background-color: rgba(8,8,33,.88);
        width: 90%;
        margin: auto;
        margin-top:-10px;
    	  padding: 20px;
    	  border: 2px solid #5593e0;
	      border-style: ridge;
    	  box-shadow: 0px 2px 8px 0px #63a7fb;
        height: 29px;
	}
#boxShadow {
	      display:block;
	      margin: auto;
	      padding-top:6px;
	      height:280px;
	      width:700px;
	      background-color: rgba(8,8,33,.9);/*d0e9f7*/
	      box-shadow: 0px 4px 9px 0px #63a7fb;
	}
  .menuBox {
      background-color: rgba(3,38,66,1);
      margin: auto;
      padding-top: 0px;
      padding-bottom: 12px;
      width: 622px;
      height: 12px;
      text-align: center;
      border: 2px solid #bccadd;
      border-style: inset;
      border-radius: 6px;
  }
.menuClass {
    display: inline;
    font-family: 'Dekko', cursive;
    font-size:18px;
    color:#bccadd;
    text-align: center;
    text-decoration: none;
    margin-top: -30px;
    padding:10px 65px;
  }
.menuClass:hover {
    color:#0060d6;
    border-radius: 25px;
    font-family: 'Dekko', cursive;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    padding: -25px;
  }
.menustyle {
    margin-top: -200px;
    display: block;
    text-align: center;
    font-family:papyrus, fantasy;
    font-size:20px;
    color:#5593e0;
  }
#logo {
    margin: auto;
    background-position-y:-40px;
    background-image: url('images/fmn1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    opacity: .15;
    position: static;
  }
.msgme {
      background-position-x:center;
      display: inline-block;
      width: 320px;
      height: 160px;
      text-align: center;
      margin-left:200px;
      background-color:  rgba(8,8,33,1);
      border-color: rgb(158, 185, 225, .9);
      border-radius: 12px;
      color: #5593e0;
}
#myFrame {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 620px;
    height: 190px;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgba(99, 167, 251, .3);
    background-color: rgb(3, 38, 66);
    border-style: solid;
    padding-top: 4px;
}
.frameTitle {
    display: block;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 26px;
    text-align: center;
    text-decoration: underline;
    width: 620px;
    margin: auto;
    color:#bccadd;
}
#servFrame {display: none; width: 620px;
height: 190px;}
#revFrame {display: none;}
#conFrame {display: none;}
#serv1 {
    display: inline-block;
    font-family: 'Dekko', cursive;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin-left: 2em;
}
.servC1 {
     color:white;
     margin-left: 20px;
}
.servC2 {
     color:white;
     margin-left: 20px;
}
#mail {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-image: url("images/mail.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 24px;
    margin-bottom: 0px;
    text-align: center;
    font-family:papyrus, fantasy;
    font-size:20px;
    color:#5593e0;
}
#mail:hover {
  color:#0060d6;
  border-radius: 25px;
  font-family:papyrus, fantasy;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  padding: -25px;
}
#call, #twitter {
  display: block;
  margin: auto;
  text-align: center;
  font-family:papyrus, fantasy;
  font-size:24px;
  color:#5593e0;
}
